*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h5{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color:rgb(83, 121, 161);
    letter-spacing: 5px;
    margin:-2px;
}
.form{
    margin: 25px;
   
    display:grid;
    padding:-41px;
    justify-content: center;
}

input[type=text] {
    padding: 12px 100px;
		  margin: 15px 0;
}
input[type=email] {
    padding: 12px 100px;
		  margin: 15px 0;
}
label{
    color:rgb(83, 121, 161);
        padding: 12px 12px 12px 0;
        display: inline-block;
}
button{
    padding: 12px 100px;
    margin: 15px 0;
}
@media only screen and (max-width:600px) {
    .form{

        margin-left:100px;
    }
}
